@charset "UTF-8";
@import "public.scss";
body{
    width: 100%;
    height: 13.34rem;
    background: url(../../img/login_register2/password/ios/back.png)no-repeat;
    background-size: 100% 100%;
}
input{
    position: absolute;
    top: 4.25rem;
    left: 0.63rem;
    width: 6.24rem;
    height: 0.62rem;
    color: #A31515;
    font-size: 0.5rem;
    border: none;
    outline: medium;
    background: url(../../img/login_register2/login/ios/col.png);
    background-size: 0;
}
input::-webkit-input-placeholder{color: #A31515;}
.alert_pass{
    display: none;
    position: absolute;
    top: 4.25rem;
    right: 0.63rem;
    height: 0.62rem;
    font-size: 0.25rem;
    line-height: 0.62rem;
    text-align: right;
    color: red;
}
.line{
    position: absolute;
    top: 5.04rem;
    left: 0.63rem;
    width: 6.24rem;
    height: 0.01rem;
    background: #A31515;
    opacity: 0.2;
}
.check{
    position: absolute;
    top: 5.42rem;
    left: 0.65rem;
    display: flex;
    align-items: center;
    .choose{
        width: 0.22rem;
        height: 0.22rem;
        background: url(../../img/login_register2/login/ios/box.png);
        background-size: 100% 100%;
        img{
            float: left;
            width: 100%;
            height: 100%;
            display: none;
        }
    }
    .display{
        font-size: 0.28rem;
        color: #A31515;
        margin-left: 0.1rem;
    }
}
.judge{
    position: absolute;
    bottom: 4.81rem;
    right: 0.5rem;
    width: 0.9rem;
    height: 0.9rem;
    background: url(../../img/login_register2/password/ios/light.png)no-repeat;
    background-size: 100% 100%;
}
