@charset "UTF-8";
body{
    position: relative;
}
//顶部
.top{
    position: fixed;
    top: 0.1rem;
    width: 7.50rem;
    height: 0.24rem;
    background: url(../../img/index/head.png)no-repeat center;
    background-size: 7.27rem 0.24rem;
}
//返回箭头
.return{
    position: absolute;
    top: 0.66rem;
    left: 0.65rem;
    width: 0.2rem;
    height: 0.36rem;
    background: url(../../img/login_register/arrow.png)no-repeat;
    background-size: 100% 100%;
}