body {
  position: relative; }

.top {
  position: fixed;
  top: 0.1rem;
  width: 7.50rem;
  height: 0.24rem;
  background: url(../../img/index/head.png) no-repeat center;
  background-size: 7.27rem 0.24rem; }

.return {
  position: absolute;
  top: 0.66rem;
  left: 0.65rem;
  width: 0.2rem;
  height: 0.36rem;
  background: url(../../img/login_register/arrow.png) no-repeat;
  background-size: 100% 100%; }

body {
  width: 100%;
  height: 13.34rem;
  background: url(../../img/login_register2/register/ios/back.png) no-repeat;
  background-size: 100% 100%; }

.login {
  position: absolute;
  top: 0.65rem;
  right: 1.21rem;
  font-size: 0.28rem;
  color: #A31515; }

.phone_number {
  position: absolute;
  top: 3.56rem;
  left: 0.64rem;
  font-size: 0.32rem;
  color: #A31515; }

input {
  position: absolute;
  top: 4.25rem;
  left: 0.63rem;
  width: 6.24rem;
  height: 0.62rem;
  color: #A31515;
  font-size: 0.5rem;
  border: none;
  outline: medium;
  background: url(../../img/login_register2/login/ios/col.png);
  background-size: 0; }

input[type="text"] {
  top: 6.28rem; }

input::-webkit-input-placeholder {
  color: #A31515; }

.alert {
  display: none;
  position: absolute;
  top: 4.25rem;
  right: 0.63rem;
  height: 0.62rem;
  font-size: 0.25rem;
  line-height: 0.62rem;
  text-align: right;
  color: red; }

.send {
  display: none;
  position: absolute;
  top: 4.35rem;
  right: 0.65rem;
  width: 1.36rem;
  height: 0.50rem;
  background: url(../../img/login_register2/register/ios/jx.png) no-repeat;
  background-size: 100% 100%;
  font-size: 0.24rem;
  color: #fcf5eb;
  text-align: center;
  line-height: 0.50rem; }

.code {
  position: absolute;
  top: 5.58rem;
  left: 0.64rem;
  font-size: 0.32rem;
  color: #A31515; }

.judge {
  position: absolute;
  bottom: 4.81rem;
  right: 0.5rem;
  width: 0.9rem;
  height: 0.9rem;
  background: url(../../img/login_register2/register/ios/light.png) no-repeat;
  background-size: 100% 100%; }

.line1, .line2 {
  position: absolute;
  width: 6.24rem;
  height: 0.01rem;
  background: #A31515;
  opacity: 0.2; }

.line1 {
  top: 5.04rem;
  left: 0.63rem; }

.line2 {
  top: 7.06rem;
  left: 0.63rem; }
